.modal-container{
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #e2effa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    div{
        padding: 10px;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        border-bottom: solid #bec4ca thin;

        &:last-child{
            border-bottom: none;
        }
    }
}